#div0{
    position: absolute;
    margin-bottom: 50px;
}
#div1{
    margin-left: 300px;
    position: absolute;
  
}
#div2{
    margin-left: 400px;
    position: absolute;
 
}
#div3{
    margin-left: 500px;
    position: absolute;
   
}
#div4{;
    margin-left: 600px;
    
}
#div5{
    margin-top: 50px;
    color: darkgreen;
}
.div2{
    position: absolute;
    background-color: rgba(60, 173, 173, 0.26);
    height: 250px;
    width: 250px;
    margin-top: 50px;
    margin-left: 25px;
}
#div7{
    margin-left: 150px;
    margin-top: 25px;
}
#div8{
    text-align: center;
}
#div9{
    position: absolute;
    margin-left: 100px;
}
#div10{
    margin-left: 280px;
    position: absolute;
}
#div11{
    margin-left: 450px;
    position: absolute;
}
#div12{
margin-left: 650px;
position: absolute;
}
#div13{
    margin-left: 800px;
}
.div3{
    height: 100px;
}
#div15{
    position: absolute;
    color: darkgreen;
}
#div16{
    margin-left: 200px;
    position: absolute;
}
#div17{
    margin-left: 350px;
    position: absolute;
}
#div18{
    margin-left: 500px;
}
.div4{
    margin-top: 50px;
}
.div5{
    margin-top: 40px;
}
#div19{
    position: absolute;
}
#div20{
    margin-left: 200px;
    position: absolute;
}
#div21{
    margin-left: 350px;
    position: absolute;
}
#div22{
    margin-left: 500px;
}
.div6{
    margin-top: 100px;
}
.div7{
    margin-top: 50px;
    position: absolute;
}
.div8{
    margin-left: 300px;
    margin-top: 85px;
}
.div9{
    position: absolute;
}
.div10{
    margin-left: 300px;
}
.div11{
    position: absolute;
}
.div12{
    margin-left: 550px;
}
#div25{
    position: absolute;
    
}
#div26{
    margin-left: 200px;
}
#div27{
    position: absolute;
}
#div28{
    margin-left: 210px;
}
.b1{
    width: 850px;
    background-color: rgba(170, 173, 157, 0.082);
}


#div29{
    position: absolute;
}
#div30{
    position: absolute;
    margin-left: 150px;
}
#div31{
    margin-left: 200px;
    position: absolute;
}
#div32{
    margin-left: 250px;
    position: absolute;
}
#div33{
    margin-left: 300px;
    position: absolute;
}
#div34{
    margin-left: 350px;
    position: absolute;
}
.div14{
    margin-top: 90px;
    background-color:white;
    height: 250px;
    width: 180px;
    text-align: center;
    margin-left: 40px;
    position: absolute;
}
#div36{
    position: absolute;
    margin-left: 30px;
}
#div37{
    margin-left: 90px;
    position: absolute;
    text-decoration: line-through;
}
#div38{
    margin-top: 70px;
}
.div15{
    margin-left: 300px;
    margin-top: 100px;
    height: 260px;
    width: 190px;
    text-align: center;
    background-color: white;
    position: absolute;
}
#div40{position: absolute;
    margin-left: 30px;
}
#div41{
    margin-left: 100px;
    position: absolute;
    text-decoration: line-through;
}
#div42{
    margin-top: 60px;
}
.div16{
    margin-left: 550px;
  
    margin-top: 130px;
    height: 250px;
    width: 180px;
    background-color: white;
    text-align: center;
 
    }
    #div44{
       position: absolute;
        margin-left: 40px;
      
    }
#div45{
    margin-left: 80px;
    margin-top: 35px;
    text-decoration: line-through;
    }
    #div46{
        margin-right: 50px;
       
    }
    .div17{
        margin-top: 200px;
     
        background-color: rgba(164, 181, 182, 0.582);
        margin-left: 20px;
        width: 900px;
       text-align-last: center;
    
    }
    
    #div48{
    
        margin-top: 200px;
    }
    #div49{
 position: absolute;
        margin-top: 20px;
        margin-left: 450px;
 
    }
    #div50{
      position: absolute;
        margin-left: 450px;
      margin-top: 70px;
    }
    #div51{
        position: absolute;
        margin-top: 150px;
        margin-left: 450px;
  
    }
    #div52{
        margin-left: 450px;
        margin-top: 200px;
        position: absolute;
        
    }
    #div53{
        margin-bottom: 100px;
        margin-right: 350px;
        margin-bottom: 200px;
    }
    .new{
        width: fit-content;
        background-color: aliceblue;
    }
    
        
   